In [5]:
import pandas as pd

In [6]:
path=(r'C:\Users\paster\Downloads/Mappa-dei-pub-circoli-locali-in-Italia.csv')
df_pub = pd.read_csv(path, encoding='latin1', sep=';')
print(df_pub.head())

         Comune                       Provincia   Regione             Nome  \
0         ALTRO                           ALTRO     ALTRO              NaN
1         ALTRO                           ALTRO     ALTRO      Lenny's Pub
2         ALTRO                           ALTRO     ALTRO  Murrayfield Pub
3         ALTRO                           ALTRO     ALTRO           Snop?e
4  ALA DI STURA  CITTA' METROPOLITANA DI TORINO  Piemonte              NaN

   Anno inserimento Data e ora inserimento  Identificatore in OpenStreetMap  \
0              2011   2011-06-25T23:17:43Z                       1339088150
1              2011   2011-07-29T17:22:56Z                       1375887295
2              2015   2015-10-24T09:28:06Z                       3323888102
3              2010   2010-09-22T08:32:52Z                        921157802
4              2012   2012-05-21T14:28:45Z                       1760949034

   Longitudine  Latitudine
0    13.733257   45.575830
1    12.418681   46.747584
2     9.029585   45.831340
3    13.640939   45.954607
4     7.307306   45.313150

In [7]:
#Totale dati
totale_dati = len(df_pub)
print(f"Numero totale di dati: {totale_dati}")

Numero totale di dati: 2635

In [8]:
#metadati
df_pub.dtypes

Comune                              object
Provincia                           object
Regione                             object
Nome                                object
Anno inserimento                     int64
Data e ora inserimento              object
Identificatore in OpenStreetMap      int64
Longitudine                        float64
Latitudine                         float64
dtype: object

In [9]:
#primo elemento
df_pub.iloc[0]

Comune                                            ALTRO
Provincia                                         ALTRO
Regione                                           ALTRO
Nome                                                NaN
Anno inserimento                                   2011
Data e ora inserimento             2011-06-25T23:17:43Z
Identificatore in OpenStreetMap              1339088150
Longitudine                                   13.733257
Latitudine                                     45.57583
Name: 0, dtype: object

In [10]:
#ultimo elemento
df_pub.iloc[-1]

Comune                                             TRANI
Provincia                          BARLETTA-ANDRIA-TRANI
Regione                                           Puglia
Nome                                        Well's Fargo
Anno inserimento                                    2009
Data e ora inserimento              2009-08-10T12:44:03Z
Identificatore in OpenStreetMap                387223648
Longitudine                                    16.436765
Latitudine                                     41.267264
Name: 2634, dtype: object

In [11]:
#elemento a caso
elemento_casuale = df_pub.sample()
print(elemento_casuale)

       Comune Provincia  Regione   Nome  Anno inserimento  \
2193  PESCARA   PESCARA  Abruzzo  Tilly              2014

     Data e ora inserimento  Identificatore in OpenStreetMap  Longitudine  \
2193   2014-02-13T14:50:46Z                        249430721    14.227127

      Latitudine
2193   42.452746

In [12]:
#anni di inserimento presenti
sorted(df_pub['Anno inserimento'].unique())

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [13]:
# attività che ci sono nel quadrato di longitudine 9-10 e latitudine 45-46
attivita_quadrato = df_pub[(df_pub['Longitudine'] >= 9) & (df_pub['Longitudine'] <= 10) &
    (df_pub['Latitudine'] >= 45) & (df_pub['Latitudine'] <= 46)]
print(f"\nNumero di attività nel quadrato longitudine 9-10 e latitudine 45-46: {len(attivita_quadrato)}")

Numero di attività nel quadrato longitudine 9-10 e latitudine 45-46: 306

In [14]:
#attività nella provincia di Vicenza
if 'Provincia' in df_pub.columns:
    vicenza_attivita = df_pub[df_pub['Provincia'].str.contains('Vicenza', case=False, na=False)]
    print(f"\nNumero di attività nella provincia di Vicenza: {len(vicenza_attivita)}")
else:
    print("\nColonna 'Provincia' non trovata nel dataset.")

Numero di attività nella provincia di Vicenza: 73

In [15]:
# Creare il filtro
filtro = df_pub['Nome'].str.contains('Enoteca', na=False)

# Contare quante enoteche ci sono
numero_enoteche = filtro.sum()

# Visualizzare le enoteche
enoteche = df_pub.loc[filtro, 'Nome']

print(f"Numero di enoteche: {numero_enoteche}")
print("Elenco delle enoteche:")
print(enoteche)

Numero di enoteche: 6
Elenco delle enoteche:
64      Enoteca con Cucina""Tirolin""
496                 Concordia Enoteca
1003                  Enoteca Umberto
1491          Enoteca ""Al Brindisi""
1492           Enoteca ""da Massimo""
1723         Enoteca Il Violino Rosso
Name: Nome, dtype: object

In [16]:
#Attività in Lazio e Abbruzzo
attivita_regioni = df_pub[(df_pub['Regione'] == 'Lazio') | (df_pub['Regione'] == 'Abruzzo')]
print(f"Numero di attività in Lazio e Abruzzo insieme: {len(attivita_regioni)}")

Numero di attività in Lazio e Abruzzo insieme: 337

In [17]:
import pandas as pd
insurance=pd.read_csv(r'C:\Users\paster\Downloads\datasets (2)\insurance.csv')
print(insurance)

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [18]:
# Dimensioni del dataset
insurance.shape

(1338, 7)

In [19]:
# Anteprima dei primi record
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
# Nomi delle colonne
insurance.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [21]:
# Media di charges per regione
media_region = insurance.groupby('region')['charges'].mean().round(2)
print("Media di charges per regione:\n", media_region)

Media di charges per regione:
 region
northeast    13406.38
northwest    12417.58
southeast    14735.41
southwest    12346.94
Name: charges, dtype: float64

In [22]:
# Media di charges rispetto a smoker
media_smoker = insurance.groupby('smoker')['charges'].mean().round(2)
print("Media di charges rispetto a smoker:\n", media_smoker)

Media di charges rispetto a smoker:
 smoker
no      8434.27
yes    32050.23
Name: charges, dtype: float64

In [23]:
# Media di charges rispetto a sex
media_sex = insurance.groupby('sex')['charges'].mean().round(2)
print("Media di charges rispetto a sex:\n", media_sex)

Media di charges rispetto a sex:
 sex
female    12569.58
male      13956.75
Name: charges, dtype: float64

In [24]:
# Descrizione statistica di BMI
bmi_descrizione = insurance['bmi'].describe()
print("Descrizione statistica di BMI:\n", bmi_descrizione)

Descrizione statistica di BMI:
 count    1338.000000
mean       30.663397
std         6.098187
min        15.960000
25%        26.296250
50%        30.400000
75%        34.693750
max        53.130000
Name: bmi, dtype: float64

In [25]:
import pandas as pd
df_iris=pd.read_csv(r'C:\Users\paster\Downloads\datasets (3)\datasets\seaborn_datasets\iris.csv')
print(df_iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [26]:
# Media della lunghezza dei petali di tutto il dataset
media_petali = df_iris['petal_length'].mean()
print(f"Media della lunghezza dei petali di tutto il dataset: {media_petali:.2f}")

Media della lunghezza dei petali di tutto il dataset: 3.76

In [27]:
# Media della lunghezza dei petali per ogni specie usando groupby()
media_petali_per_specie = df_iris.groupby('species')['petal_length'].mean()
print("Media della lunghezza dei petali per ogni specie:\n", media_petali_per_specie)

Media della lunghezza dei petali per ogni specie:
 species
setosa        1.462
versicolor    4.260
virginica     5.552
Name: petal_length, dtype: float64

In [28]:
#  Media, minimo e massimo della larghezza dei sepali per ogni specie usando groupby() e agg()
stats_sepali = df_iris.groupby('species')['sepal_width'].agg(['mean', 'min', 'max'])
print("Statistiche sulla larghezza dei sepali per ogni specie:\n", stats_sepali)

Statistiche sulla larghezza dei sepali per ogni specie:
              mean  min  max
species
setosa      3.428  2.3  4.4
versicolor  2.770  2.0  3.4
virginica   2.974  2.2  3.8

In [29]:
import pandas as pd
df_wine=pd.read_csv(r'C:\Users\paster\Downloads\datasets (3)\wine.csv')
print(df_wine)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
6492            6.2              0.21         0.29             1.6      0.039
6493            6.6              0.32         0.36             8.0      0.047
6494            6.5              0.24         0.19             1.2      0.041
6495            5.5              0.29         0.30             1.1      0.022
6496            6.0              0.21         0.38             0.8      0.020

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
6492                 24.0                  92.0  0.99114  3.27       0.50
6493                 57.0                 168.0  0.99490  3.15       0.46
6494                 30.0                 111.0  0.99254  2.99       0.46
6495                 20.0                 110.0  0.98869  3.34       0.38
6496                 22.0                  98.0  0.98941  3.26       0.32

      alcohol  quality   type
0         9.4        5    red
1         9.8        5    red
2         9.8        5    red
3         9.8        6    red
4         9.4        5    red
...       ...      ...    ...
6492     11.2        6  white
6493      9.6        5  white
6494      9.4        6  white
6495     12.8        7  white
6496     11.8        6  white

[6497 rows x 13 columns]

In [30]:
# Media di concentrazione alcolica per ogni qualità
media_alcol_per_qualita = df_wine.groupby('quality')['alcohol'].mean().round(2)
print("Media di concentrazione alcolica per ogni qualità:\n", media_alcol_per_qualita)

Media di concentrazione alcolica per ogni qualità:
 quality
3    10.22
4    10.18
5     9.84
6    10.59
7    11.39
8    11.68
9    12.18
Name: alcohol, dtype: float64

In [31]:
# Media totale di alcol
media_alcol_totale = df_wine['alcohol'].mean().round(2)
print(f"Media totale di alcol: {media_alcol_totale:.2f}")

Media totale di alcol: 10.49

In [32]:
#  Differenze nella concentrazione alcolica tra vini bianchi e rossi
# Supponendo che ci sia una colonna 'color' con valori 'white' e 'red'
media_alcol_per_color = df_wine.groupby('type')['alcohol'].mean().round(2)
print("Media di alcol tra vini bianchi e rossi:\n", media_alcol_per_color)

Media di alcol tra vini bianchi e rossi:
 type
red      10.42
white    10.51
Name: alcohol, dtype: float64

In [33]:
# 4. Media di solfati per ogni qualità
media_solfati_per_qualita = df_wine.groupby('quality')['sulphates'].mean().round(2)
print("Media di solfati per ogni qualità:\n", media_solfati_per_qualita)

Media di solfati per ogni qualità:
 quality
3    0.51
4    0.51
5    0.53
6    0.53
7    0.55
8    0.51
9    0.47
Name: sulphates, dtype: float64

In [34]:
# Media totale di solfati
media_solfati_totale = df_wine['sulphates'].mean()
print(f"Media totale di solfati: {media_solfati_totale:.2f}")

Media totale di solfati: 0.53

In [35]:
# Differenza tra vini bianchi e rossi per solfati
media_solfati_per_color = df_wine.groupby('type')['sulphates'].mean().round(2)
print("Media di solfati tra vini bianchi e rossi:\n", media_solfati_per_color)

Media di solfati tra vini bianchi e rossi:
 type
red      0.66
white    0.49
Name: sulphates, dtype: float64

In [1]:
import pandas as pd
df_boston=pd.read_csv(r'C:\Users\paster\Downloads\datasets (3)\boston.csv')
df_boston

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [37]:
print(df_boston.head())
print(df_boston.columns)

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296     15.3
1  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242     17.8
2  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
3  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222     18.7
4  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222     18.7

    black  lstat  medv
0  396.90   4.98  24.0
1  396.90   9.14  21.6
2  392.83   4.03  34.7
3  394.63   2.94  33.4
4  396.90   5.33  36.2
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [38]:
#media del tasso di criminalità
media_crim = df_boston['crim'].mean()
print(f"Media del tasso di criminalità: {media_crim:.2f}")

Media del tasso di criminalità: 3.61

In [39]:
#media del numero di stanze
media_rm = df_boston['rm'].mean()
print(f"Numero medio di stanze per abitazione: {media_rm:.2f}")

Numero medio di stanze per abitazione: 6.28

In [40]:
#Analisi della variabile chas
medv_per_chas = df_boston.groupby('chas')['medv'].mean().round(2)
print("Valore medio delle case in zone con CHAS=0 e CHAS=1:\n", medv_per_chas)

Valore medio delle case in zone con CHAS=0 e CHAS=1:
 chas
0    22.09
1    28.44
Name: medv, dtype: float64

In [41]:
#correlazione tra lstat e medv
correlation = df_boston['lstat'].corr(df_boston['medv'])
print(f"Correlazione tra LSTAT e MEDV: {correlation:.2f}")

Correlazione tra LSTAT e MEDV: -0.74

In [42]:
#correlazione tra crim e medv\ si deduce che la correlazione è negativa quindi un aumento del tasso di criminalità tende ad associarsi a un valore più basso delle case. 
#Questo può essere spiegato dal fatto che aree più pericolose o degradate spesso hanno prezzi immobiliari più bassi.
correlazione_crim_medv = df_boston['crim'].corr(df_boston['medv'])
print(f"Correlazione tra CRIM e MEDV: {correlazione_crim_medv:.2f}")

Correlazione tra CRIM e MEDV: -0.39

In [5]:
# Media di RM rispetto a PTRATIO
media_rm_per_ptratio = df_boston.groupby('ptratio')['rm'].mean()
# Media di MEDV rispetto a PTRATIO
media_medv_per_ptratio = df_boston.groupby('medv')['ptratio'].mean()

print("Media di RM rispetto a PTRATIO:\n", media_rm_per_ptratio)
print("\nMedia di MEDV rispetto a PTRATIO:\n", media_medv_per_ptratio)

Media di RM rispetto a PTRATIO:
 ptratio
12.6    7.222667
13.0    7.406167
13.6    7.923000
14.4    7.875000
14.7    6.246235
14.8    6.752333
14.9    7.311250
15.1    6.816000
15.2    6.421923
15.3    6.705333
15.5    7.241000
15.6    6.702000
15.9    6.997000
16.0    6.230600
16.1    6.428800
16.4    6.139667
16.6    6.344188
16.8    6.146750
16.9    6.016400
17.0    6.868250
17.3    6.383000
17.4    7.212333
17.6    6.822429
17.8    6.496130
17.9    6.134818
18.0    7.218600
18.2    6.283000
18.3    6.520500
18.4    6.285938
18.5    6.288750
18.6    6.111588
18.7    6.406556
18.8    5.956000
18.9    5.785667
19.0    6.453750
19.1    6.234882
19.2    6.053632
19.6    6.224000
19.7    6.303250
20.1    5.585400
20.2    6.024021
20.9    6.266273
21.0    6.039778
21.1    5.888000
21.2    6.028533
22.0    5.799500
Name: rm, dtype: float64

Media di MEDV rispetto a PTRATIO:
 medv
5.0     20.20000
5.6     20.20000
6.3     20.20000
7.0     20.15000
7.2     20.20000
          ...
46.7    17.40000
48.3    17.40000
48.5    14.70000
48.8    13.00000
50.0    16.48125
Name: ptratio, Length: 229, dtype: float64

In [44]:
# Correlazioni
corr_rm_ptratio = df_boston['rm'].corr(df_boston['ptratio'])
corr_medv_ptratio = df_boston['medv'].corr(df_boston['ptratio'])

print(f"\nCorrelazione tra RM e PTRATIO: {corr_rm_ptratio:.2f}")
print(f"Correlazione tra MEDV e PTRATIO: {corr_medv_ptratio:.2f}")
#Se RM e PTRATIO sono negativamente correlati, significa che aree con più stanze tendono ad avere un rapporto alunni-insegnanti più basso (migliore).
#Se MEDV e PTRATIO sono negativamente correlati, indica che zone con meno studenti per insegnante tendono ad avere case più costose.

Correlazione tra RM e PTRATIO: -0.36
Correlazione tra MEDV e PTRATIO: -0.51

In [6]:
# Per esempio, consideriamo due gruppi: RAD <= 5 e RAD > 5
gruppo_bassa_accessibilita = df_boston[df_boston['rad'] <= 5]
gruppo_alta_accessibilita = df_boston[df_boston['rad'] > 5]

# Medie per AGE, RM, TAX nei due gruppi
medie_age_low_rad = gruppo_bassa_accessibilita['age'].mean()
medie_age_high_rad = gruppo_alta_accessibilita['age'].mean()

medie_rm_low_rad = gruppo_bassa_accessibilita['rm'].mean()
medie_rm_high_rad = gruppo_alta_accessibilita['rm'].mean()

medie_tax_low_rad = gruppo_bassa_accessibilita['tax'].mean()
medie_tax_high_rad = gruppo_alta_accessibilita['tax'].mean()

print(f"Età media (age) - rad <=5: {medie_age_low_rad:.2f}, rad >5: {medie_age_high_rad:.2f}")
print(f"Numero medio di stanze (rm) - rad <=5: {medie_rm_low_rad:.2f}, rad >5: {medie_rm_high_rad:.2f}")
print(f"Tasse medie (TAX) - rad <=5: {medie_tax_low_rad:.2f}, rad >5: {medie_tax_high_rad:.2f}")

Età media (age) - rad <=5: 61.83, rad >5: 78.98
Numero medio di stanze (rm) - rad <=5: 6.34, rad >5: 6.20
Tasse medie (TAX) - rad <=5: 314.51, rad >5: 552.82

In [11]:
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 
                             'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 
                             'department_id': [1, 2, 1, 2, 3] })
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3],
                               'department_name': ['HR', 'IT', 'Finance'], 
                               'location': ['New York', 'San Francisco', 'Chicago'] })
import pandas as pd

In [12]:
# Unione tramite merge sulla colonna comune 'department_id'
merged_df = employees_df.merge(departments_df, on='department_id')
print(merged_df)

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [13]:
# Trasformare department_id in indice
employees_df.set_index('department_id', inplace=True)
departments_df.set_index('department_id', inplace=True)

# Unione tramite join
joined_df = employees_df.join(departments_df)
print(joined_df)

#Quando usi .merge(), puoi specificare la colonna di unione (on='department_id') senza modificare gli indici.
#Quando usi .join(), la funzione utilizza gli indici come chiavi di unione. Se gli indici non sono uguali o non sono stati impostati correttamente, il risultato potrebbe essere diverso o incompleto.

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [16]:
import os
import dotenv
import sqlalchemy
import pandas as pd

# Percorso completo del file .env
file_path = r"C:\Users\paster\cred.env"

# Carica le variabili di ambiente dal file specificato
dotenv.load_dotenv(dotenv_path=file_path, override=True)

# Ottieni le variabili di ambiente
username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

# Crea la stringa di connessione
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{dbname}"
print(connection_string)

# Crea l'engine per SQLAlchemy
db_engine = sqlalchemy.create_engine(connection_string)
query="SELECT * FROM dimemployee "
dimemployee=pd.read_sql(query,db_engine)
dimemployee

mysql+pymysql://root:Teresa.1993@localhost/adventurework

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
294,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
295,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

In [18]:
#importo dimemployeesalesterritory
query="SELECT * FROM dimemployeesalesterritory"
dimemployeesalesterritory=pd.read_sql(query,db_engine)
print(dimemployeesalesterritory)

    EmployeeKey  SalesTerritoryKey
0           272                  1
1           277                  1
2           286                  1
3           289                  1
4           293                  1
5           272                  2
6           277                  2
7           281                  2
8           272                  3
9           277                  3
10          281                  3
11          282                  3
12          283                  3
13          272                  4
14          277                  4
15          282                  4
16          286                  4
17          287                  4
18          272                  5
19          277                  5
20          281                  5
21          285                  5
22          272                  6
23          277                  6
24          284                  6
25          288                  6
26          277                  7
27          290                  7
28          291                  7
29          292                  7
30          277                  8
31          290                  8
32          295                  8
33          277                  9
34          294                  9
35          296                  9
36          277                 10
37          290                 10
38          291                 10

In [19]:
# Join su EmployeeKey
df_joined = dimemployee.merge(dimemployeesalesterritory, on='EmployeeKey', how='inner')

# Controlla la dimensione del risultato
print(f"Numero di record dopo il join: {len(df_joined)}")

Numero di record dopo il join: 39

In [20]:
#Carichiamo la tabella dimsalesterritory
query="SELECT * FROM dimsalesterritory"
dimsalesterritory = pd.read_sql(query,db_engine)
dimsalesterritory

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [21]:
# Join su SalesTerritoryKey
df_final = df_joined.merge(dimsalesterritory, on='SalesTerritoryKey', how='inner')
df_final

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,272,277.0,502097814,112432117.0,Stephen,Jiang,Y,0,North American Sales Manager,2010-08-04,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
11,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
12,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
13,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
14,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
15,277,277.0,112432117,112432117.0,Brian,Welcker,S,0,Director of Sales,2010-09-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Director,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
16,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
17,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
18,281,272.0,841560125,502097814.0,Michael,Blythe,G,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
19,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
20,282,272.0,191644724,502097814.0,Linda,Mitchell,C,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
21,283,272.0,615389812,502097814.0,Jillian,Carson,None,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
22,284,272.0,234474252,502097814.0,Garrett,Vargas,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
23,285,272.0,716374314,502097814.0,Tsvi,Reiter,Michael,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
24,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
25,286,272.0,61161660,502097814.0,Pamela,Ansman-Wolfe,O,0,Sales Representative,2010-12-29,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
26,287,272.0,139397894,502097814.0,Shu,Ito,K,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
27,288,272.0,399771412,502097814.0,José,Saraiva,Edvaldo,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
28,289,272.0,987554265,502097814.0,David,Campbell,R,0,Sales Representative,2010-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
29,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
30,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
31,290,277.0,982310417,112432117.0,Amy,Alberts,E,0,European Sales Manager,2011-11-15,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
32,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
33,291,290.0,668991357,982310417.0,Jae,Pak,B,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
34,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
35,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
36,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
37,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
38,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

In [132]:
print(df_final.head())

   EmployeeKey  ParentEmployeeKey  EmployeeNationalIDAlternateKey  \
0          272              277.0                       502097814
1          272              277.0                       502097814
2          272              277.0                       502097814
3          272              277.0                       502097814
4          272              277.0                       502097814

   ParentEmployeeNationalIDAlternateKey FirstName LastName MiddleName  \
0                           112432117.0   Stephen    Jiang          Y
1                           112432117.0   Stephen    Jiang          Y
2                           112432117.0   Stephen    Jiang          Y
3                           112432117.0   Stephen    Jiang          Y
4                           112432117.0   Stephen    Jiang          Y

   NameStyle                         Title    HireDate  ... SalesPersonFlag  \
0          0  North American Sales Manager  2010-08-04  ...               1
1          0  North American Sales Manager  2010-08-04  ...               1
2          0  North American Sales Manager  2010-08-04  ...               1
3          0  North American Sales Manager  2010-08-04  ...               1
4          0  North American Sales Manager  2010-08-04  ...               1

  DepartmentName                                      EmployeePhoto  \
0          Sales  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1          Sales  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2          Sales  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3          Sales  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4          Sales  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

        Position SalesTerritoryKey SalesTerritoryAlternateKey  \
0  Sales Manager                 1                          1
1  Sales Manager                 2                          2
2  Sales Manager                 3                          3
3  Sales Manager                 4                          4
4  Sales Manager                 5                          5

  SalesTerritoryRegion  SalesTerritoryCountry SalesTerritoryGroup  \
0            Northwest          United States       North America
1            Northeast          United States       North America
2              Central          United States       North America
3            Southwest          United States       North America
4            Southeast          United States       North America

                                 SalesTerritoryImage
0  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4  b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

[5 rows x 34 columns]

In [24]:
# Conta per paese
dipendenti_per_paese = df_final['SalesTerritoryCountry'].value_counts()
print("Dipendenti per paese:\n", dipendenti_per_paese)

# Conta per regione
dipendenti_per_regione = df_final['SalesTerritoryRegion'].value_counts()
print("Dipendenti per regione:\n", dipendenti_per_regione)

Dipendenti per paese:
 SalesTerritoryCountry
United States     22
Canada             4
France             4
Germany            3
Australia          3
United Kingdom     3
Name: count, dtype: int64
Dipendenti per regione:
 SalesTerritoryRegion
Northwest         5
Central           5
Southwest         5
Southeast         4
Canada            4
France            4
Northeast         3
Germany           3
Australia         3
United Kingdom    3
Name: count, dtype: int64

In [136]:
media_baserate_per_paese = df_final.groupby('SalesTerritoryCountry')['BaseRate'].mean().round(2)
print("Media del BaseRate per paese:\n", media_baserate_per_paese)

Media del BaseRate per paese:
 SalesTerritoryCountry
Australia         47.76
Canada            41.59
France            41.59
Germany           47.76
United Kingdom    47.76
United States     39.91
Name: BaseRate, dtype: float64

In [ ]:
#Se ci sono differenze significative tra i paesi nella media di BaseRate, potrebbe indicare variazioni nelle condizioni di mercato o politiche salariali.